/*=== Reset ===*/

html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans'
}

html, body {
  height: 100%
}

body {
  display: flex;
}

/*=== Background Colors ===*/

hr {
  border: 1px solid #353567;
}

.starred-ideas-button {
  font-weight: bold;
  font-size: 20px;
  border-radius: 2px;
  margin: 15px 15px 15px 12px;
  padding: 5px;
  background-color: #5356a4;
  color: #e9e9f3;
  border: 1px solid #353567;
  width: 90%;
  height: 6%;
  margin-bottom: 25px;
}

.purple-1 {
  background: #EAEAF4;
}

.upper-right {
  background: #A9AAD2;
}

.purple-3 {
  background: #5356A4;
}

.side-bar {
  background: #1F1F3D;;
}


/*=== Fonts ===*/


.filter-title {
  font-weight: 600;
  color: #bfbfdd;
  margin: 12px;
  margin-top: 25px;
}

.header-text {
  color: #EAEAF4;
  font-family: 'Open Sans';
  font-weight: bold;
  padding: 20px;
}

.body-text {
  font: 'Open Sans' light;
}


/*=== menu section ===*/

.menu {
  height: 100%;
  width: 280px;
}

/*=== main section ===*/

.ideas {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.idea-form {
  flex-grow: 2;
}

.idea-cards {
  flex-grow: 3;
}

/*=== media queries ===*/

@media only screen and (max-width: 400px) {
  body {
    flex-direction: column;
  }

  .header-text {
    font-size: 18px;
    padding: 10px;
  }

  .menu {
    height: 40px;
    text-align: center;
    width: 100%;
  }

  .idea-form {
    flex-grow: 1;
  }
}
