html, body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
}

hr {
  border: 1px solid #353567;
}

.starred-ideas-button {
  background-color: #5356a4;
  border: 1px solid #353567;
  border-radius: 2px;
  color: #e9e9f3;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin: 15px 15px 15px 12px;
  margin-bottom: 25px;
  padding: 5px;
  width: 90%;
}

.purple-1 {
  background: #EAEAF4;
}

.upper-right-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-between;
  margin: auto;
  padding: 20px;
  width: 30%;
}

.upper-right-form > * {
  width: 100%;
}

.purple-3 {
  background: #5356A4;
}

.side-bar {
  background: #1F1F3D;
}

.title-input, .body-input, .search-container {
  border: 1px solid #1f1f3d;
  border-radius: 2px;
  font-size: large;
}

.title-input {
  height: 10%;
}

.body-input {
  height: 20%;
}

.search-container {
  align-items: center;
  background-color: #353567;
  display: flex;
  height: 10%;
  overflow: hidden;
  position: relative;
}

.search-container img {
  margin-left: 4%;
  position: absolute;
  width: 20px;
  cursor: auto;
}

.search-input {
  height: 100%;
  margin-left: 15%;
  width: 100%;
  font-size: large;
}

.save-button {
  background-color: #353567;
  border: 1px solid #1f1f3d;
  border-radius: 2px;
  color: #e9e9f3;
  cursor: pointer;
  font-size: 15px;
  height: 10%;
}

.form-title {
  align-self: auto;
  font-weight: bold;
}

.form-body {
  font-weight: bold;
}

.filter-title {
  color: #bfbfdd;
  font-weight: 600;
  margin: 12px;
  margin-top: 25px;
}

.header-text {
  color: #EAEAF4;
  font-family: 'Open Sans';
  font-weight: bold;
  padding: 20px;
}

.body-text {
  font: 'Open Sans' light;
}

.menu-header {
  display: flex;
}

.mobile-menu {
  display: none;
  width: 35px;
}

.menu {
  height: 100%;
  width: 280px
}
img{
  cursor: pointer;
}
.card-title {
  font-weight: bold;
  margin-left: 5px;
}

.card-body {
  margin-left: 5px;
}

.single-card {
  background-color: #ffffff;
  border: 2px solid #1F1F3D;
  display: flex;
  flex-flow: column;
  font-size: larger;
  height: 290px;
  justify-content: space-between;
  margin: 5%;
  overflow: hidden;
  width: 90%;
}

.idea-star {
  width: 30px;
}

.idea-comment {
  width: 40px;
}

.idea-star {
  margin-left: 5px;
}

.idea-close {
  margin-right: 5px;
  width: 20px;
}

.card-header {
  background-color: #1F1F3D;
  display: flex;
  height: 15%;
  justify-content: space-between;
}

.card-footer {
  align-items: center;
  background-color: #5356A4;
  color: #fff;
  display: flex;
  height: 15%;
}

.ideas {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.idea-form {
  background: #A9AAD2;
  flex-grow: 2;
  height: 370px;
}

.idea-cards {
  grid-gap: 20px;
  display: grid;
  flex-grow: 3;
  grid-template-columns: repeat(3, 1fr);
  overflow: scroll;
}

.idea-cards::-webkit-scrollbar {
  display: none;
}

.darkness-disabled {
    backdrop-filter: invert(34%);
    filter: invert(34%);
    cursor: not-allowed;
}

@media only screen and (max-width: 400px) {
  body {
    flex-direction: column;
  }

  hr {
    border: none;
  }

  .header-text {
    font-size: 18px;
    margin: auto;
    padding: 10px;
  }

  .menu {
    height: 40px;
    width: 100%;
  }

  .expanded {
    height: 90%;

  }

  .idea-form {
    flex-grow: 1;
  }

  .idea-cards {
    display: flex;
    flex-direction: column;
  }

  .mobile-menu {
    display: block;
  }

  .upper-right-form {
    width: 80%;
  }

  .darkness {
    backdrop-filter: invert(34%);
    filter: invert(34%);
    cursor: not-allowed;
}
